body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

#header{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 750px;
    height: auto;
}

#logoSomos{    
    width: 250px;
    height: auto;
}

#meuMenu{
    font-family: Arial, Helvetica, sans-serif;
}

.meuMenu{
    display: block;
    text-align: center;    
    margin-top: 10px;    
}

#boasVindas, #sistInterno{    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;    
}

#boasVindas{
    color: red;
}

#sistInterno{
    color: orange;
    font-weight: bold;
}

ul{
    width: fit-content;
    margin: 0 auto;
}

nav li{
    display: inline-block;
    padding: 10px 0px 0px 50px;
}

.btnMenu{
    border: 2px solid red;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 10px;
    color: red;    
    background-color: white;
}

.btnMenu:hover{
    color: white;    
    background-color: red;
    box-shadow: 0px 3px grey;
}
.btnMenu:active{
    color: white;
    background-color: orange;    
}

#funcs{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;    
    font-size: 18pt; 
}

#listaFuncs{    
    text-align: center;    
    list-style-position: inside;
    color: red;
}

.nome, .dt_nasc{
    display: inline-block;
    padding-bottom: 20px;
}

.nome{    
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: orange;
    margin-left: auto;
    margin-right: auto;
}

.dt_nasc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: black;
}

h2, h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;    
}
h2{
    color: orange;
}

h3{ 
    color: red;        
    padding-top: 10px;
}

#adicionarProds{
    padding-top: 50px;
    color: red;
}

#formProdutos{
    display: block;
    margin-left: auto;
    margin-right: auto;   
    text-align: center; 
    padding-top: 30px;
}

#descricaoProduto{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.nomeCampoAdd{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 0px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: orange;    
}

.campoDigitavel{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;    
    padding: 10px 10px;
    border-radius: 8px;    
}

table{    
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px;
    text-align: center;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    border: 2px solid red;  
}

td{
    border: 2px solid orange;
}

.imgProduto{
    height: 100px;
    width: auto;
}

#enviaPedido{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;    
    background-color: white;
    color: red;
    border: 2px red solid;
    font-size: 12pt;
    font-weight: bold;    
    padding: 15px 30px;
    border-radius: 8px;
}

#enviaPedido:hover{
    background-color: red;
    color: white;
}

footer{    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;    
}

footer div img{    
    width: 40px;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
}