.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    height: auto;
}

#boasVindas{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

nav{
    text-align: center;
}

nav li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    font-weight: bold;
}

nav li a{    
    font-size: 16pt;
    color: orange;
    text-decoration: none;
}

nav li a:hover{
    color: red;    
}

nav ul {
    margin-top: 150px;
}

footer{    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;    
}

footer div img{    
    width: 50px;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.textoContato{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#mensagem{
    width: 200px;
    height: 150px;
}

#boasVindas{
    font-size: 20pt;
    color: orange;
}

#faleConosco{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    color: red;
}

#enviaContato{
    font-size: 15pt;
    background-color: brown;
    color: white;
}

/* substituir pelo menu em todas as páginas*/
.voltar{
    width: 15px;
    height: auto;    
}
a span{
    font-size: 12pt;    
}
a{
    text-decoration: none;
}

#quem{    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}